body{
    background-color:  #eadab7;
    color: #502c18;
}

header{
    text-align: center;
    margin-bottom: 100px;
}


.block-row{
    display: flex;
    justify-content: center;

}

.word-block{
    border: 3px #502c18 solid;
    margin: 5px;
    width: 75px;
    height: 75px;

    text-align: center;

}